<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="false" />
    <sessionState mode="Off" />
  </system.web>
  <system.webServer>
    <urlCompression doStaticCompression="true" />
    <httpCompression>
      <dynamicTypes>
        <add mimeType="image/svg+xml" enabled="true" />
      </dynamicTypes>
    </httpCompression>
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".webp" />
      <remove fileExtension=".mp4" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <httpErrors existingResponse="Replace">
      <remove statusCode="404" />
      <error statusCode="404" path="404.html" />
    </httpErrors>
    <rewrite>
      <rules>
        <rule name="Production Robots">
          <match url="robots.txt" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_X_FORWARDED_HOST}" pattern="^www\.celebrate\.ca\.gov$" />
            <add input="{HTTP_HOST}" pattern="^www\.celebrate\.ca\.gov$" />
          </conditions>
          <action type="Rewrite" url="robots-prod.txt" />
        </rule>
      </rules>

      <outboundRules>
        <!-- Default cache for all static content -->
        <rule name="Default Cache for Static Assets">
          <match serverVariable="RESPONSE_Cache-Control" />
          <action type="Rewrite" value="public, max-age=900" />
        </rule>

        <!-- Override for long-lived static assets -->
        <rule name="Long Cache for Specific File Types">
          <match serverVariable="RESPONSE_Cache-Control" />
          <conditions>
            <add input="{URL}" pattern="\.(js|css|svg|jpg|jpeg|ico|png|mp4)$" />
          </conditions>
          <action type="Rewrite" value="public, max-age=8640000, immutable" />
        </rule>
      </outboundRules>
    </rewrite>
  </system.webServer>
</configuration>
