<script>
  function submitForm(/** @type { SubmitEvent } */ e) {
    e.preventDefault();

    // Production Form Post Service URL const formPostServiceUrl = "https://api.template.webstandards.ca.gov/api/v2/airtable/sample/appXfKtM85FrT0Ipc/tblrWC8qRNId3mSaL";
    //const formPostServiceUrl = "https://fa-cdt-pub-migr-betaws-w-p-001-stage.azurewebsites.net/api/v2/airtable/sample/appXfKtM85FrT0Ipc/tblrWC8qRNId3mSaL"; // Staging Form Post Service URL
    const formPostServiceUrl = "http://localhost:12345/api/v2/airtable/sample/appXfKtM85FrT0Ipc/tblrWC8qRNId3mSaL"; // Local Host Service URL
    const redirectSuccessUrl = "/success";
    const redirectErrorUrl = "/error?error_message=";

    e.submitter.disabled = true; // disable submit button to prevent multiple clicks

    grecaptcha.execute().then(() => {
      // Callback that uses FETCH API to submit the form data to the form post service after successful reCAPTCHA validation.

      /** @type { RequestInit } */
      const request = {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify([...new FormData(e.target)]) // Convert form data to JSON
      };

      fetch(formPostServiceUrl, request)
        .then(async response => {
          if (response.ok) {
            console.log("Form submitted successfully");
            alert("Form submitted successfully");
            window.location.href = redirectSuccessUrl;
            return;
          }

          throw new Error(await response.text());
        })
        .catch(error => {
          console.error(error);
          alert("Form submission failed. See console for details.");
          window.location.href = redirectErrorUrl + encodeURIComponent(error.message);
        })
        .finally(() => { e.submitter.disabled = false; });
    });
  } // End of submitForm function
</script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
